.custom-container {
  display: flex;
  height: 94.5vh;
  max-height: 94.5vh;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  background-color: #d8dad3 !important;
}



.custom-image {
  vertical-align: text-top;
  border-style: none;
  width: 100%;
  height: 100vh;
}

.custom-left{
  width: 50%;
  overflow: hidden;
}

.custom-left img {
  background: no-repeat center center/cover;
}

.custom-right{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.custom-logo {
  width: 100%;
  text-align: center;
  max-width: 470px;
  margin: 5vh auto;
}

.custom-content {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  max-width: 470px;
  width: 100%;
  margin: 0 auto 10vh;
}

.custom-content form {
  position: relative;
  width: 100%;
  margin-bottom: 5vh;
}

.custom-content input {
  font-size: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: background-color .15s ease;
  text-align: center;
  word-break: break-all;
  border-radius: 100px;
  background-color: #f4f4f7;
}

.custom-content input:hover, .custom-content input:focus {
  background-color: #ededf1;
}

.custom-content label {
  font-size: 13px;
  display: block;
}

.custom-content textarea {
  font-size: 16px;
  min-height: 110px;
  padding-top: 18px;
  padding-bottom: 18px;
  resize: vertical;
  border-radius: 100px;
  border: 4px solid transparent;
}

.custom-content textarea:hover {
  border: 4px solid saddlebrown;
  transition: border-color .30s ease;
}


.custom-content input, .custom-content textarea {
  display: block;
  width: 100%;
  margin: 10px 0 3vh;
  padding-right: 22px;
  padding-left: 22px;

}

.custom-content button {
  margin-top: 2vh;
}

.global-button {
  font-size: 20px;
  font-weight: var(--font-weight-one-black);
  line-height: 1.5;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 22px 26px;
  cursor: pointer;
  text-align: center;
  color: white !important;
  border: 0;
  outline: 0;
  background-color: blue;
  border-radius: 100px;
}


