

@font-face {
  font-family: dinpro;
  src: url("../../../assets/fonts/DINPro-Regular.otf");
}

.subscribe-main {
  margin: 15px;
  width: 100%;
}

.subscribe {
  display: flex;
  flex-width: wrap;
  align-items: center;

}

h3{
  font-size: 46px;
  line-height: 1.1;
  min-width: 240px;
  max-width: 700px;
  margin: 0;
  padding: 5%;
  flex: 1 1 25%;
}



.newsletter-form {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 100px;
  background-color: #ededf1;
}

.newsletter-input{
  font-size: 20px;
  display: block;
  width: 180px;
  margin-right: 12px;
  padding-right: 20px;
  padding-left: 30px;
  transition: width .3s ease .2s;
  word-break: normal;
  border-radius: 100px;
  flex: 1 1 auto;
}


.subscribe-button {
  font-size: 20px;
  font-weight: var(--font-weight-one-black);
  line-height: 1.5;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 22px 26px;
  cursor: pointer;
  text-align: center;
  color: white !important;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.subscribe-button::after {
  z-index: -2;
  background-color: blue;
}





