

<footer id="footer">






<!-- bottom footer -->
<div id="bottom-footer" class="section" id="">

    <div class="container py-5">
      <div class="row py-5 justify-content-center align-items-center">
        <div class="col-md-4 py-5">
          <h2 class="py-5">Get In Touch or Visit The Farm Anytime</h2>
          <p class="pb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam unde rerum excepturi. Eius excepturi, mollitia tempora id perspiciatis voluptatem eaque ipsa aut voluptatum culpa sunt maxime, minus omnis illum unde.</p>
          <a class="btn btn-success" href="#">Send a message</a>
        </div>
        <div class="col-md-3 offset-md-1 card card-body m-3">
          <p>(235) 236-3262</p>
          <a href="mailto:hello@divifarming.com">hello@divifarming.com</a>
          <ul class="d-inline-flex mt-3 mr-auto pl-0">
            <li><i class="fab fa-2x fa-facebook-square mr-2" aria-hidden="true"></i></li>
            <li><i class="fab fa-2x fa-twitter-square mx-2" aria-hidden="true"></i></li>
            <li><i class="fab fa-2x fa-instagram-square mx-2" aria-hidden="true"></i></li>
            <li><i class="fab fa-2x fa-youtube-square mx-2" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>
    </div>






  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12 text-center">
        <span class="copyright">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> | developped by <a href="https://github.com/MathiasIZZ" target="_blank">MathiasIZZ</a>
        </span>
      </div>
    </div>
  </div>
</div>

</footer>
