

<footer id="footer">
  <div class="cosmos">
    <div class="news">
      <form class="form">

        <div class="subscribe">
          <p class="texte">Inscription NEWSLETTER </p>
        </div>
        <div class="maClassInput">
          <input id="email-subscribe" class="monInput" type="text" placeholder="Votre e-mail" required="required">
          <label class="monLabel" for="email-subscribe">Votre e-mail</label>
          <button class="bouton-magic">
            <div class="message"><i class="fa fa-arrow-right" style="background: transparent !important;"></i></div>
          </button>
        </div>

        <div class="info">
          <p class="texte">En envoyant votre email, vous acceptez les privacy</p>
        </div>
      </form>
    </div>
  </div>

  <div class="reseaux">
    <nav>
      <ul>
        <li><a href="#">INSTAGRAM</a></li>
        <li><a href="#">YOUTUBE</a></li>
        <li><a href="#">FACEBOOK</a></li>
        <li><a href="#">LINKEDIN</a></li>
      </ul>
    </nav>
  </div>


<!-- bottom footer -->
<div id="bottom-footer" class="section">
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12 text-center">

        <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /bottom footer -->
</footer>
