.cart-dropdown {
  position: absolute;
  width: 300px;
  background: #FFF;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 0px 2px #E4E7ED;
  box-shadow: 0px 0px 0px 2px #E4E7ED;
  z-index: 99;
  right: 0;
  opacity: 1;
}


.arene {
  top: 0px;
  background-color: #121112;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition-duration: 1s;
  z-index: 10000;
}

.disparition {
  top: -200px;
  transition-duration: 1s;
}

.fond {
  background-color: white !important;
  transition-duration: 1.5s;
}








.arene .scrolled {
  background: black !important;

}

a {
  font-family: dinpro;
}


#responsive-nav  {
  display: none;
}





