<!-- HEADER -->
<div class="arene">
  <header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> 964 647 808</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i>Rua Barreais 10, 5225-131 Sendim PORTUGAL</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->

          <div  class="col-md clearfix">
            <div class="header-ctn">

              <!-- Menu Toogle -->
              <div class="menu-toggle" id="active-nav">
                <a>
                  <i class="fa-caret-square-down"></i>
                  <span>Menu</span>
                </a>
              </div>
              <!-- /Menu Toogle -->
            </div>
          </div>
          <!-- /ACCOUNT -->
      <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->

  <!-- NAVIGATION -->

<!-- /NAVIGATION -->
</div>
<nav id="navigation" class="custom">
  <!-- container -->
  <div class="container" style="margin-top: 10%;">
    <!-- responsive-nav -->

    <div id="responsive-nav py-3">

      <!-- NAV -->
      <ul class="Menu-list">
        <li class="Menu-list-item">
          About
          <a routerLink="/presentation">
            <span class="Mask"><span>Qui sommes nous ? </span></span>
            <span class="Mask"><span>Qui sommes nous ? </span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Mystere
          <a routerLink="/histoire">
            <span class="Mask"><span>Du champs à l'assiette</span></span>
            <span class="Mask"><span>Du champs à l'assiette</span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Checkout
          <a routerLink="/home">
            <span class="Mask"><span>Commander</span></span>
            <span class="Mask"><span>Commander</span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Nature
          <a routerLink="/cueillette">
            <span class="Mask"><span>Cueillette à la ferme</span></span>
            <span class="Mask"><span>Cueillette à la ferme</span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Contact
          <a routerLink="/contact">
            <span class="Mask"><span>Nous contacter</span></span>
            <span class="Mask"><span>Nous contacter</span></span>
          </a>
        </li>



        <li id="close">close</li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
