.cart-dropdown {
  position: absolute;
  width: 300px;
  background: #FFF;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 0px 2px #E4E7ED;
  box-shadow: 0px 0px 0px 2px #E4E7ED;
  z-index: 99;
  right: 0;
  opacity: 1;
}


.arene {
  top: 0px;
  background-color: #1E1F29;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition-duration: 1s;
  z-index: 10000;
}

.disparition {
  top: -200px;
  transition-duration: 1s;
}

.fond {
  background-color: white !important;
  transition-duration: 1.5s;
}

.arene .scrolled {
  background: black !important;
}

a {
  font-family: dinpro;
}

#responsive-nav  {
  display: none;
}


/*----------------------------*\
	Logo
\*----------------------------*/

#header {
  padding-top: 15px;
  padding-bottom: 15px;

}

.header-logo {
  background-color: #1E1F29;
  position: relative;
  height: 100px;
}

.blaze {
  color: #ffeecf;
  -webkit-transform: scaleY(2);
  -moz-transform: scaleY(2);
  -o-transform: scaleY(2);
  font-family: dinproBold;
  font-size: 3.2rem;
  letter-spacing: 0.8rem;
  text-align: center;
}
.sousblaze {
  color: #ffeecf;
  position: absolute;
  right: 15px;
  bottom: -5px;
  font-family: dinproBold;
}
.header-logo:hover {
  .sousblaze{
    animation: linear 2s infinite alternate slidein;
  }
}

@keyframes slidein{
  from {transform: translateX(0);}
  to   {transform: translateX(-300px);}
}


.header-logo .logo img {
  display: block;
}





