

<section class="galaxy" id="debut">
  <section class="cosmos">
    <div class="strat">
      <h1>La <br>plante.</h1>
      <div class="satellite"><p>Du champs à l'assiette</p></div>
    </div>
  </section>

  <section class="plante">
    <div class="espace">
      <div class="espaceleft">

      </div>
      <div class="espaceright">
        <h2>Les bambous ne sont pas des arbres, <br>mais bien des graminées (poaceae). </h2>
        <h2>La saison de cueillette des pousses s'étale entre le mois d'avril et le mois de juillet.</h2>
      </div>
    </div>
  </section>

  <section id="plante2">
    <div class="espace">
      <div class="espaceleft"></div>
      <div class="espaceright">
        <p class="bloc">Les graminées composées de rhizomes<br> et de racines dans ses parties souterraines,<br> et de chaumes généralement creux,<br> puis de branches et de feuilles <br>dans ses parties aériennes.</p>
        <p class="bloc">Il en existe environ 1 500 espèces regroupées <br>en plus de 90 genres différents.</p>
        <p class=" bloc blocalone">Elle est considérée comme une plante magique, au rendement extraordinaire car elle bénéficie d'une regénération naturelle; coupée au stade mature, un autre bambou repoussera à coté l'année suivante, <br>et déjà à sa taille adulte !</p>
      </div>
    </div>
  </section>



  <section class="galaxy">
    <section class="cosmos">
      <div class="strat clear">
        <h1>Le <br>produit.</h1>
      </div>
    </section>
    </section>

    <section class="plante">
      <div class="espace">
        <div class="espaceleft"></div>
        <div class="espaceright">
          <h2>Produit Bio et « branché », aux qualités nutritionnelles indéniables.</h2>
        </div>
      </div>
    </section>

    <div class="clear"></div>


    <div class="" style="margin-top: 150px">

    <div class="container">
      <div class="row py-5">
        <div class="col-md-4 pb-5">
          <p class="text-uppercase font-weight-bold py-3">zéro nitrate, pauvre en sodium</p>
          <h2 class="text-uppercase pb-4">Le bambou est un aliment d'avenir en Europe.</h2>
          <p>Toutes les espèces de bambou sont comestibles,
            à condition de les faire cuire pour éliminer
            un composé légèrement toxique présent
            dans le bambou cru.
            Récoltées très jeunes,
            lorsqu’elles mesurent 10 à 15 cm de haut,
            ce sont essentiellement les pousses de bambou,
            encore appelées «turions»,
            qui sont utilisées dans la cuisine.</p>
          <img src="assets/img/etiquette.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
          <img src="assets/img/bambou2.jpg" class="img-fluid" alt="">
          <div class="row justify-content-end">
            <div class="carreblue col-md-5 py-3">
              <p class="text-uppercase text-light mb-1">A noter</p>
              <p class="text-light">l'eau minérale naturelle de Watwiller détient l'une des plus faibles teneur en sodium du marché</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>


    <section class="galaxy">
      <section class="cosmos">
        <div class="strat">
          <h1>Les qualités <br>nutritives.</h1>
        </div>
        <div class="espace">


          <div class="row py-5 d-flex justify-content-around">
            <div class="col-6 col-md-3 text-center">
              <img class="icone" src="assets/img/icon1.svg" alt="">
              <p class="text-uppercase font-weight-bold pt-3">La valeur énergétique des pousses de bambou contribue à en faire un excellent produit diététique :
              27 calories au 100 grammes pour : 5,2 g de glucides, 2,6 g de protéines et 0,3 g de lipides.
            </p>
            </div>

            <div class="col-6 col-md-3 text-center">
              <img class="icone" src="assets/img/icon2.svg" alt="">
              <p class="text-uppercase font-weight-bold pt-3">Les pousses de bambou sont riches en fibres alimentaires, en acides aminés,
                en vitamines A, B1, B2 et C, en silicium et en calcium. Elles contiennent également du phosphore et du potassium.</p>
            </div>

            <div class="col-6 col-md-3 text-center">
              <img class="icone" src="assets/img/icon3.svg" alt="">
              <p class="text-uppercase font-weight-bold pt-3">Le bambou est la plus riche des sources connues de silice (il contient plus de 70% de silice organique).
                Le rôle du silicium (Si) est reconnu à prendre part dans la constitution de la peau, des ligaments,
                des tendons et des os (soin de l'arthrose et de l'ostéoporose).</p>
            </div>

          </div>








        </div>
      </section>
    </section>

  <section class="">

    <div class="container">
      <div class="row py-5 d-flex justify-content-center">
        <div class="col-12 col-md-7">
          <img src="assets/img/engrais-naturel.JPG" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-4">
          <p class="text-uppercase font-weight-bold py-3">ORIGINE</p>
          <h2 class="text-uppercase pb-4">Les bambous de Bambunor sont cultivés naturellement</h2>
          <p>
            sans engrais ni pesticides, juste ce qu'il faut de fumier de lapin de temps à autre, riche en azote,
            en provenance d'un exploitant tout proche.
          </p>
          <p class="text-uppercase font-weight-bold py-3 sub-blue">Pourquoi choisir une eau sans nitrate ?</p>
          <p class="text-uppercase font-weight-bold py-3 sub-blue">une eau, des eaux ? découvrez la différence entre l'eau minérale naturelle, l'eau de source et l'eau du robinet.</p>
        </div>
      </div>
    </div>




    <div class="container">
      <div class="row py-5 d-flex justify-content-center">
        <div class="col-12 col-md-4">
          <p class="text-uppercase font-weight-bold py-3">Wattwiller</p>
          <h2 class="text-uppercase pb-4">Zéro nitrate</h2>
          <p>Grâce à sa pureté originelle reconnue par l'Académie de Médecine, l'eau minérale naturelle de Wattwillerest recommandée pour l'alimentation des nourrissons.</p>
          <p class="text-uppercase font-weight-bold py-3 sub-blue">Pourquoi choisir une eau sans nitrate ?</p>
          <p class="text-uppercase font-weight-bold py-3 sub-blue">une eau, des eaux ? découvrez la différence entre l'eau minérale naturelle, l'eau de source et l'eau du robinet.</p>
        </div>
        <div class="col-12 col-md-7">
          <img src="assets/img/ane.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

  <div class="clear"></div>


  <section class="galaxy" id="gustatives">
    <section class="cosmos">
      <div class="strat">
        <h1>Les qualités <br>gustatives.</h1>
      </div>
      <div class="espace">

      </div>
    </section>




    <section class="plante">
      <div class="espace">
        <div class="espaceleft"></div>
        <div class="espaceright">
          <h3>Bambunor vous garanti un produit ultra frais, </h3>
          <h3>distribué en circuit le plus court possible, et 100 % portugais !</h3>
        </div>
      </div>
    </section>

    <section style="margin-top: 70px;">
      <div class="espace">
        <div class="espaceleft"></div>
        <div class="espaceright">
          <p class="bloc">
            Avec leur consistance croquante et leur fine saveur d’artichaut ou de noisette, <br>
            les pousses de bambou fraîches sont un met délicat.<br>
            Rien de commun avec les pousses de bambou en provenance de Chine que l'on peut trouver en boite,<br>
            ou baignant dans des sachets plastiques; ces deux contenants étant remplis de conservateurs...
          </p>
          <p class="bloc">
            Vous pourrez l'utiliser en délicieuses soupes ou consommés, en salade de crudités, <br>
            ou en plat principal, sautées avec des crevettes par exemple… <br>
            Certains chefs les utilisent également pour confectionner de succulents desserts !
          </p>

        </div>
      </div>
    </section>
  </section>
</section>

<app-footer></app-footer>
