

<section class="galaxy">
  <section class="cosmos">
    <div class="strat">
      <h1>La <br>plante.</h1>
      <div class="satellite"><p>Du champs à l'assiette</p></div>
    </div>
  </section>

  <section class="plante">
    <div class="espace">
      <div class="espaceleft"></div>
      <div class="espaceright">
        <h2>Les bambous ne sont pas des arbres, <br>mais bien des graminées (poaceae). </h2>
        <h2>La saison de cueillette des pousses s'étale entre le mois d'avril et le mois de juillet.</h2>
      </div>
    </div>
  </section>

  <section id="plante2">
    <div class="espace">
      <div class="espaceleft"></div>
      <div class="espaceright">
        <p class="bloc">Les graminées composées de rhizomes<br> et de racines dans ses parties souterraines,<br> et de chaumes généralement creux,<br> puis de branches et de feuilles <br>dans ses parties aériennes.</p>
        <p class="bloc">Il en existe environ 1 500 espèces regroupées <br>en plus de 90 genres différents.</p>
        <p class=" bloc blocalone">Elle est considérée comme une plante magique, au rendement extraordinaire car elle bénéficie d'une regénération naturelle; coupée au stade mature, un autre bambou repoussera à coté l'année suivante, <br>et déjà à sa taille adulte !</p>
      </div>
    </div>
  </section>



  <section class="galaxy">
    <section class="cosmos">
      <div class="strat clear">
        <h1>Le <br>produit.</h1>
      </div>
    </section>
    </section>

    <section class="plante">
      <div class="espace">
        <div class="espaceleft"></div>
        <div class="espaceright">
          <h2>Produit Bio et « branché », aux qualités nutritionnelles indéniables, le bambou est un aliment d'avenir en Europe.</h2>
        </div>
      </div>
    </section>

    <div class="clear"></div>


    <div class="" style="margin-top: 150px">
      <section>
        <div class="visu">
          <div class="img">
            <img src="../../../assets/img/bambou2.jpg" alt="">
          </div>

          <div class="texte1">
            <h2>Le bambou est une plante comestible qui fait partie <br> de l’alimentation de l’espèce humaine depuis plusieurs milliers d’années</h2>
            <p>Toutes les espèces de bambou sont comestibles, <br>
              à condition de les faire cuire pour éliminer <br>
              un composé légèrement toxique présent <br>
              dans le bambou cru. <br>
              Récoltées très jeunes, <br>
              lorsqu’elles mesurent 10 à 15 cm de haut,<br>
              ce sont essentiellement les pousses de bambou, <br>
              encore appelées «turions», <br>
              qui sont utilisées dans la cuisine.</p>
          </div>
        </div>
      </section>
    </div>






    <section class="galaxy">
      <section class="cosmos">
        <div class="strat">
          <h1>Les qualités <br>nutritives.</h1>
        </div>
      </section>
    </section>





</section>
