<div class="intro">
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
  <div class="onvideo"></div>
  <video muted autoplay loop>
    
    <source src="../../../assets/Jungle.webm" type="video/webm">
    
  </video>
  <div class="deco">
    <div class="redeco">
      <div class="arene">
        <div class="logo">
          <img src="../../assets/img/logo.png" alt="">
        </div>

        <div class="langue">
          <div class="selection">
            <nav class="lanav">
              <ul class="menuLangue">
                <li><a href="">PT</a></li>
                <li>|</li>
                <li><a href="">FR</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- astuce pousser le block du bar sous les éléments présents en haut -->

        <div class="marge"></div>

        <div class="titre1">
          <div class="cadre">
            <h2>bem-vindo ao</h2>
          </div>
        </div>

        <div class="titre2">
            <h2>BAMBUNOR LDA</h2>
        </div>
        <div class="monBouton">
          <button class="btn mybtn monBouton2"><a routerLink="/presentation">disponível em breve</a></button>
          <!-- <button class="btn mybtn monBouton2"><a>disponível em breve.</a></button> -->
        </div>

      </div>
    </div>
  </div>
</div>





