<div class="container-fluid backbambou" style="margin-top: 250px">

  <div class="" style="z-index: 100000;">

    <section id="section-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>La cueillette à la ferme</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>L'Histoire</h3>
            <p>Au lendemain de la Révolution Française, le quartier central de Bordeaux fut reconstruit. De nouvelles rues furent tracées en étoiles autour d’un marché. En 1825, M. Chantal et M. Despirou créèrent un restaurant et une boutique de marchand de vins, au 7 rue Montesquieu, voisins du Théâtre Français : « Le Chapon Fin ». Il devint vite une adresse très fréquentée.</p>
            <p>Le grand changement intervint en 1900, lorsqu’un nouveau propriétaire, Joseph Sicart, cuisinier de talent, originaire de Catalogne, arriva rue Montesquieu, et confia à un jeune architecte bordelais novateur et audacieux la rénovation du « Chapon Fin ». Cet architecte, Cyprien-Alfred Duprat construisit le fameux rocher, et le surprenant décor de rocaille qui est aujourd'hui en place, et qui fut coiffé plus tard d'une verrière.</p>
          </div>
          <div class="col-md-6">
            <img src="assets/img/cueillette-pousse.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="section-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Si vous souhaitez réserver une cueillette, n'hésitez pas à nous écrire. </h2>
            <a href="#" class="btn">Réserver une table</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
<div class="espace"></div>

<app-footer></app-footer>

