<div class="container-fluid backbambou">

  <div class="container" style="z-index: 100000;">

    <div class="d-md-flex w-100 my-md-3 ps-md-3 arene">


      <div class="me-md-3 text-center overflow-hidden left" id="left">
        <img src="assets/img/horaire.jpg" alt="">
      </div>

      <!--    ----------------------------------------------------------------------------------------------------     -->

      <div class="me-md-3  text-center overflow-hidden right" id="right">
        <img src="assets/img/enfants.jpg" alt="">
      </div>


    </div>

  </div>
</div>
