<div class="container-fluid backbambou">

  <div class="container" style="z-index: 100000;">



    <div class="wrapper">
      <div class="one">
        <div class="imgsocket">
          <img src="assets/img/bambou2.jpg" alt="">
        </div>
      </div>
      <div class="two">
        <h1>La cueillette à la ferme</h1>
      </div>
      <div class="three">
        <h2>I’m a french designer based in France and available for full-time roles & freelance projects.</h2>
      </div>
    </div>




    <div class="d-md-flex w-100 my-md-3 ps-md-3 arene">

      <div class="me-md-3 text-center overflow-hidden left" id="left">
        <img src="assets/img/horaire.jpg" alt="">
      </div>
      <div class="me-md-3  text-center overflow-hidden right" id="right">
        <img src="assets/img/enfants.jpg" alt="">
      </div>

    </div>







  </div>


</div>

<div class="espace"></div>

