/* You can add global styles to this file, and also import other style files */





::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/*
body {
  background-color: #FFEED6 !important;
}*/

@font-face {
  font-family: dinpro;
  src: url("assets/fonts/DINPro-Black.otf");
}

/*
html {
  scrollbar-width: none;

}

.scrollbar {
  width: 15px;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  background: linear-gradient(to top, #99b6e6, #4364f7, #add3ff);

}

.clickScrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: rgba(170, 170, 170, 0.356);
}
*/
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
  display: none;
}

