

@font-face {
  font-family: dinpro;
  src: url("../../../assets/fonts/DINPro-Regular.otf");
}
@font-face {
  font-family: dinproBold;
  src: url("../../../assets/fonts/DINPro-Bold.otf");
}

html {
  font-family: dinpro;
}


.decale {
  margin-top: -85px;
}

.satellite {
  position: absolute;
  top: 250px;
  right: 50px;
  transform-origin: right top;
  transform: rotate(90deg) translate(100%, 0);
  text-transform: uppercase;
}

.socle {
  display: flex;
  margin-top: 50px;
  /*margin-top: 50px;*/

}
.left {
  display: flex;
  width: 25%;
  height: 80vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
}

.left img {
  width: 100%;
  height: 70%;
  padding-top: 2.8rem;
  border-radius: 10px 10px;
}
.right {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 2.5rem !important;
  font-size: 25px !important;
  line-height: 1.5;
  justify-content: center;
}

.right h2 {
  font-size: 2.5rem !important;
}

.fontperso {
  font-family: 'dinpro';
}


.stade {
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.submain .zetitre {
  font-size: 4rem;
  -webkit-text-fill-color: rgb(141, 182, 66);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  margin-right: -200px;
  line-height: 2em;
  -webkit-transform:scaleY(2);
  -moz-transform:scaleY(2);
  -o-transform:scaleY(2);

}

.subtitre {
  text-align: center;
  margin: auto;
  padding-top: 5%;
}

.subtitre h1 {
  font-size: 6rem !important;
}

.submain {
  /*margin: 0% 65% 0% -135%;*/
}

.sub {

}


@media screen and (max-width: 1435px) {
  .stade {
    width: calc(100% - 75px);
    margin-left: auto;
    margin-right: auto;
  }

  .submain .zetitre {
    font-size: 3.5rem;
    -webkit-text-fill-color: rgb(141, 182, 66);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
    margin-right: -200px;
    line-height: 2em;
    -webkit-transform:scaleY(2);
    -moz-transform:scaleY(2);
    -o-transform:scaleY(2);

  }


}


.zeTitre {
  color: #7B0D1E;
  font-family: dinproBold;
}

.strat {
  position: relative;
  margin-bottom: 150px;
}
.strat h1 {
  margin-left: 50px;
  font-family: dinproBold;
  font-size: 10.5vw;
  line-height: 120%;
}
