<div class="stade">


  <div class="socle">
    <div class="right">
      <h2 class="fontperso"><span style="color: #493c26">« BAMBUNOR LDA » : Une exploitation, innovante en Europe.</span><span>
      En 2015, nous avons plantés, en agriculture biologique, 3 hectares de Bambous au Nord du Portugal, et avons crée BAMBUNOR LDA.</span></h2>
      <p class="fontperso">Notre mission: Vous faire connaître un produit rare aux multiples vertus alimentaires : les pousses de bambous fraîches.</p>
    </div>
    <div class="left">
      <img src="assets/img/bambou.jpg" alt="Un Âne">
    </div>
  </div>

  <div class="socle">
    <div class="left">

    </div>
    <div class="right">
      <div class="submain">
        <h1 class="zetitre">DU CHAMPS A L'ASSIETTE</h1>
      </div>
      <div class="sub">
        <h2 class="fontperso"><span style="color: #493c26">Que vous soyez chef d'un restaurant gourmet ou simple  particulier, invitez ce met délicat à votre table !</span></h2>
      </div>

    </div>
  </div>
</div>
