

<div style="margin-top: 250px"></div>
<section>
  <div class="strat">
    <h1>La <br>plante.</h1>
    <div class="satellite"><p>Du champs à l'assiette</p></div>
  </div>
</section>
<div class="stade">

  <div class="socle" style="margin-top: 50px;">
    <div class="center">
      <h2 class="fontperso"><span class="zeTitre">« Un couple Franco - Portugais »</span>
        Elizabeth et Yves, passionnés de Bambous, qui souhaitaient exercer une activité proche de leur passion, au plus près de la nature.</h2>
    </div>
  </div>



  <div class="socle" style="margin-top: 50px;">
    <div class="right">
      <h2 class="fontperso"><span class="zeTitre">« BAMBUNOR LDA » : Une exploitation, innovante en Europe.</span>
      En 2015, nous avons plantés, en agriculture biologique, 3 hectares de Bambous au Nord du Portugal, et avons crée BAMBUNOR LDA.</h2>

    </div>


    <div class="left">
      <img src="assets/img/bambou.jpg" alt="Un Âne">
    </div>
  </div>

  <div class="socle" style="margin-top: 50px;">
    <div class="center">
      <h2 class="fontperso"><span class="zeTitre">Notre mission ? </span><br>
        Vous faire connaître un produit rare aux multiples vertus alimentaires : les pousses de bambous fraîches.</h2>
    </div>
  </div>



  <div class="socle">
    <div class="left">
    </div>
    <div class="right">
      <div class="submain">
        <h1 class="zetitre fontperso">« Des produits pleins de qualités »</h1>
      </div>
      <div class="sub">
        <h3 class="fontperso" style="text-align: right"><span style="color: #493c26;">Un produit bourré de qualités</span></h3>
      </div>
    </div>
  </div>

</div>
