

<div style="margin-top: 100px"></div>
<section>
  <div class="strat">
    <h1>Notre <br>histoire.</h1>
    <div class="satellite"><p>Qui sommes nous ?</p></div>
  </div>
</section>
<div class="container">

  <div class="socle" style="margin-top: 50px; margin-bottom: 50px">
    <div class="center">
      <h2 class="fontperso"><span class="zeTitre">« Un couple Franco - Portugais »</span> <br>
        Elizabeth et Yves, passionnés de Bambous, qui souhaitaient exercer une activité proche de leur passion, au plus près de la nature.</h2>
    </div>
  </div>


  <div class="row pt-5">
    <div class="col-12 col-md-5">
      <p class="text-uppercase font-weight-bold py-3">a l'origine</p>
      <h2 class="text-uppercase pb-4">nous avons plantés, en agriculture biologique,<br> 3 hectares de Bambous au Nord du Portugal, et avons crée BAMBUNOR LDA.</h2>
    </div>
    <div class="col-12 col-md-7 col-ferme">
      <img src="assets/img/ferme.JPG" class="img-fluid ferme" alt="">
    </div>
  </div>
  <div class="row col-md-5">
    <div class="col-12 decale">
      <p class="text-uppercase font-weight-bold py-3">En 2015, </p>
      <p>Notre exploitation, innovante en Europe, a pour ambition de faire connaître un produit rare aux multiples vertus alimentaires : les pousses de bambous fraîches.</p>
      <p>Que vous soyez chef d'un restaurant gourmet ou simple  particulier, invitez ce met délicat à votre table !</p>
      <p class="text-uppercase font-weight-bold py-3 sub-blue">Decouvrir notre produit</p>
    </div>
  </div>






</div>


